blinker
certifi
charset-normalizer
click
colorama
comtypes
cssselect
easyutils
Flask
idna
importlib_metadata
itsdangerous
Jinja2
lxml
MarkupSafe
numpy
packaging
pandas
pillow
pyperclip
pyquery
pytesseract
python-dateutil
python-xlib
pytz
pywin32
pywinauto
requests
six
tzdata
urllib3
Werkzeug
zipp
